/* channel-sc-oilrecharge/1.0.0 common.css Date:2016-01-24 13:56:10 */
.rc-btn, .rc-btn-off {
    display: inline-block;
    width: 158px;
    border: solid 1px #f66;
    height: 38px;
    background: #f66;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: #fff;
    font: 16px/38px "microsoft yahei";
    text-align: center
}
.rc-btn span, .rc-btn-off span {
    padding-left: 5px
}
.rc-btn i, .rc-btn-off i {
    display: inline-block;
    margin-bottom: -2px;
    width: 15px;
    height: 15px;
    background-position: -376px 0;
    overflow: hidden
}
.rc-btn-off {
    position: relative;
    width: 158px;
    height: 38px;
    background: #f9f8f8;
    border: solid 1px #f66
}
.h10 {
    height: 10px;
    overflow: hidden
}
.link-color {
    color: #005ea7
}
.mainred {
    color: #e4393c
}
.c-input01 {
    height: 35px;
    line-height: 35px;
    font: 12px/24px arial;
    border: solid 1px #ddd;
    padding: 0 10px
}
.check-input {
    position: relative;
    bottom: -3px
}
.input-usable {
    height: 33px;
    line-height:33px;
    width: 248px;
    padding: 0 10px;
    border: solid 1px #333;
    color: #333
}
.input-disable {
    border: solid 1px #ccc
}
.input-warning {
    border: solid 1px #e4393c
}
.case-box i, .close-btn02, .failure-icon, .fs-recharge .fsr-inner, .goon-buy, .look-order, .more-item s, .more-item-off s, .o-false-btn, .o-sure-btn, .oc-slogan dt i, .once-btn-disabled, .rc-btn i, .tips-box .close-btn, .tips-icon, .use-list dd .circle-icon, .use-list dd .use-icon, .w-icon, .warning-icon {
    background: url(//misc.360buyimg.com/channel/sc-oilrecharge/1.0.0/widget/common/i/oilrecharge-bg.png) no-repeat
}
.ic-btn {
    background-image: url(//misc.360buyimg.com/virtuals/recharge/2014/skin/i/recharge-search.png);
    background-repeat: no-repeat
}
.icon-succ02 {
    background-image: url(//misc.360buyimg.com/user/purchase/2.0.0/widget/trade-success/i/icon48.png);
    display: inline-block;
    *zoom: 1;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    width: 48px;
    height: 48px
}
.w-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -420px -27px
}
.warning-icon {
    display: inline-block;
    width: 48px;
    height: 42px;
    background-position: -451px -51px
}
.failure-icon {
    position: relative;
    top: 9px;
    display: inline-block;
    width: 34px;
    height: 34px;
    background-position: -460px -211px
}
.once-btn, .once-btn-disabled {
    display: inline-block;
    width: 99px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 6px 0 7px;
    background-position: -28px 0;
    margin-right: 15px
}
.once-btn-disabled {
    background-position: -363px -125px;
    font: 14px/19px simsun;
    color: #ccc;
    background-color: #aaa;
}
.close-btn02 {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 17px;
    height: 17px;
    background-position: -441px -26px
}
.o-false-btn, .o-sure-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 59px;
    height: 36px;
    font: 700 14px/36px simsun;
    text-align: center;
    color: #fff;
    overflow: hidden
}
.o-sure-btn {
    background-position: -364px -164px;
    border: 0;
}
.o-sure-btn:hover {
    color: #fff
}
.o-false-btn {
    color: #333;
    background-position: -431px -164px
}
.btn-box {
    text-align: center
}
.fs-recharge {
    position: relative;
    z-index: 2;
    height: 0
}
.fs-recharge .fsr-inner {
    position: absolute;
    right: 0;
    top: 58px;
    width: 258px;
    height: 114px;
    padding: 176px 0 0 95px
}
.fs-recharge .fsr-inner .rc-btn:hover {
    background: #333;
    color: #fff;
    border-color: #333
}
.goon-buy, .look-order {
    display: inline-block;
    height: 30px;
    width: 89px;
    text-align: center;
    font: 16px/30px "microsoft yahei"
}
.look-order {
    color: #fff;
    background-position: -363px -51px
}
.look-order:hover {
    color: #fff
}
.goon-buy {
    background-position: -363px -86px;
    color: #333
}
.goon-buy:hover {
    color: #333
}
.btn-box .goon-buy {
    margin-left: 20px
}
i.triangle, i.triangle-inner {
    position: absolute;
    right: 30px;
    top: -9px;
    z-index: 2;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #bbb;
    border-style: solid;
    border-width: 0 5px 5px;
    _border-left-color: #fff;
    _border-right-color: #fff;
    _filter: chroma(color=white)
}
i.triangle {
    border-width: 0 10px 10px
}
i.triangle-inner {
    right: 32px;
    top: -7px;
    border-color: transparent transparent #fff;
    border-width: 0 8px 8px;
    _border-left-color: #fff;
    _border-right-color: #fff;
    _filter: chroma(color=white)
}
.oc-slogan {
    padding-top: 10px;
    display: inline-block;
    display: block
}
.oc-slogan:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
* html .oc-slogan {
    height: 1%
}
*+html .oc-slogan {
    min-height: 1%
}
.oc-slogan dl {
    float: left;
    width: 33%
}
.oc-slogan dt {
    position: relative;
    margin-left: 50%;
    margin-bottom: 20px;
    left: -59px;
    width: 118px;
    height: 118px;
    border: solid 1px #f66;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}
.oc-slogan dt i {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 66px;
    height: 66px;
    margin-left: -31px;
    margin-top: -31px
}
.oc-slogan dd {
    paddind: 0 55px;
    text-align: center
}
.oc-slogan dd .lh {
    font: 18px/28px "microsoft yahei";
    height: 28px;
    color: #f66;
    overflow: hidden
}
.oc-slogan dd .p-txt {
    height: 22px;
    font: 14px/22px "microsoft yahei";
    color: #999;
    overflow: hidden
}
.oc-slogan .hover dt {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, .04);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .04)
}
.oc-slogan .fore1 i {
    background-position: 0 -304px
}
.oc-slogan .fore2 i {
    background-position: -75px -304px
}
.oc-slogan .fore3 i {
    background-position: -149px -304px
}
.c-layout .mt {
    margin: 35px 0;
    color: #333;
    text-align: center
}
.c-layout .mt h3 {
    height: 60px;
    font: 700 24px/60px "microsoft yahei"
}
.c-layout .mt h3 span {
    color: #f66;
    padding-bottom: 3px;
    border-bottom: solid 2px #f66
}
.r-process {
    margin-top: 45px;
    background: #f8f7f7 url(//misc.360buyimg.com/channel/sc-oilrecharge/1.0.0/widget/common/i/rc-p04.jpg) no-repeat
}
.r-process .w {
    height: 490px;
    background: url(//misc.360buyimg.com/channel/sc-oilrecharge/1.0.0/widget/common/i/line.png) center center no-repeat;
    _background: url(//misc.360buyimg.com/channel/sc-oilrecharge/1.0.0/widget/common/i/line.gif) center center no-repeat
}
.r-process .c-layout, .r-process .mc {
:@clearfix;
    overflow: visible
}
.r-process .mc dl {
    float: left;
    width: 30%;
    text-align: center
}
.r-process .mc dl.fore1 {
    width: 40%
}
.r-process .mc dd {
    position: relative
}
.r-process .mc dd img {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}
.r-process .mc dd i {
    position: absolute;
    display: block;
    border: solid 1px #fff;
    width: 68px;
    height: 68px;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    margin-top: -35px;
    background: 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font: 14px/70px "microsoft yahei";
    color: #fff
}
.r-process .mc .hover dd img {
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    opacity: .7
}
.r-process .mc .hover dd i {
    border: solid 1px #f66;
    background: #f66
}
.r-process .mc dt {
    height: 54px;
    font: 16px/54px "microsoft yahei"
}
.r-process .mc .what-box {
    position: relative;
    clear: both;
    text-align: center;
    color: #999
}
.r-process .mc .tips-box {
    left: 525px
}
.tips-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 5px -3px 0;
    background-position: -401px 0
}
.o-use {
    height: 330px;
    background: #fff
}
.o-use .c-layout {
    display: inline-block;
    display: block;
    overflow: visible
}
.o-use .c-layout:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
* html .o-use .c-layout {
    height: 1%
}
*+html .o-use .c-layout {
    min-height: 1%
}
.o-use .mc {
    display: inline-block;
    display: block;
    overflow: visible
}
.o-use .mc:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
* html .o-use .mc {
    height: 1%
}
*+html .o-use .mc {
    min-height: 1%
}
.o-use .what-box {
    color: #999;
    font-size: 12px;
    position: relative
}
.use-list {
    float: left;
    width: 50%;
    _width: 49%
}
.use-list dt {
    padding-left: 200px;
    margin-top: 24px;
    font: 24px/30px "microsoft yahei";
    color: #f66
}
.use-list dd {
    position: relative;
    padding-left: 200px;
    font: 14px/24px "microsoft yahei"
}
.use-list dd .use-info {
    position: absolute;
    display: block;
    left: 85px;
    top: -35px;
    width: 65px;
    height: 65px
}
.use-list dd .circle-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-position: -224px -305px
}
.use-list dd .use-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-position: -299px -304px
}
.use-list .website-map {
    color: #005ea7
}
.tips-box {
    display: none;
    position: absolute;
    z-index: 2;
    left: -30px;
    top: 30px;
    width: 240px;
    padding: 12px 16px;
    border: solid 1px #ddd;
    background: #fff
}
.tips-box i.triangle {
    top: -10px;
    left: 30px;
    right: auto;
    border-color: transparent transparent #ddd;
    _border-left-color: #fff;
    _border-right-color: #fff;
    _filter: chroma(color=white)
}
.tips-box i.triangle-inner {
    left: 32px;
    right: auto;
    top: -8px
}
.tips-box .close-btn {
    position: absolute;
    z-index: 3;
    display: block;
    width: 7px;
    height: 7px;
    right: 6px;
    top: 6px;
    background-position: -493px -32px
}
.tips-box .close-btn span {
    display: block;
    text-indent: -9999px
}
.tips-box p {
    font: 12px/18px "microsoft yahei"
}
.page {
    padding: 15px 0 30px
}
.page .p-wrap {
    float: right
}
.page .p-num {
    float: left
}
.page .p-num a, .page .p-num b {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    margin-right: 5px;
    font-size: 14px
}
.page .p-num a {
    color: #333;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
    background-image: -o-linear-gradient(top, #f7f7f7, #f2f2f2);
    background-image: linear-gradient(top, #f7f7f7, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0) .page .p-num a;
    filter-margin-right: 0
}
.page .p-num a:hover {
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0, 1, 1, .08)
}
.page .p-num a.curr {
    border: 0 none;
    padding: 1px 15px;
    background: 0 0;
    filter: none;
    color: #e4393c;
    cursor: default
}
.page .p-num a.curr:hover {
    box-shadow: none
}
.page .p-num .pn-break {
    color: #ccc
}
.page .p-num .pn-break:hover {
    box-shadow: none
}
.page .p-num .pn-next em, .page .p-num .pn-prev em {
    vertical-align: middle
}
.page .p-num .pn-next i, .page .p-num .pn-prev i {
    vertical-align: middle;
    font-style: normal;
    font-size: 16px;
    font-family: "\5b8b\4f53";
    padding: 0 5px;
    color: #aaa
}
.page .p-num .pn-prev i {
    padding-left: 0
}
.page .p-num .pn-next i {
    padding-right: 0
}
.page .p-num .pn-next.disabled, .page .p-num .pn-prev.disabled {
    background: 0 0;
    background: #fff;
    cursor: default
}
.page .p-num .pn-next.disabled em, .page .p-num .pn-next.disabled i, .page .p-num .pn-prev.disabled em, .page .p-num .pn-prev.disabled i {
    color: #ccc
}
.page .p-skip {
    float: left;
    margin-left: 20px
}
.page .p-skip em {
    float: left;
    line-height: 38px;
    font-size: 14px
}
.page .p-skip .input-txt {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    line-height: 30px;
    font-size: 14px;
    text-align: center
}
.page .p-skip .btn {
    float: left;
    height: 27px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 27px
}
.crumbs {
    height: 54px;
    font: 14px/54px "microsoft yahei";
    overflow: hidden
}
.crumbs i {
    font-family: simsun;
    font-weight: 700;
    color: #999
}
.card-box {
    margin-bottom: 20px;
    border: solid 1px #ddd;
    padding: 50px 360px 70px 270px
}
.card-box .item {
    margin-bottom: 10px
}
.case-box {
    list-style: none;
    position: relative;
    border: 1px solid #ddd;
    height: 24px;
    line-height: 24px;
    padding: 5px 10px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    background-color: #fff
}
.case-box i {
    display: block;
    position: absolute;
    left: 10px;
    top: 9px;
    width: 16px;
    height: 16px;
    background-position: -374px -32px
}
.case-box .u-name {
    color: #333;
    padding-right: 5px
}
.case-box .p-number {
    color: #999
}
.case-box .card-btn {
    display: block;
    position: absolute;
    right: 50px;
    top: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #005ea7;
    overflow: hidden
}
.case-box .delete-btn {
    right: 10px
}
.face-value-box {
    position: relative;
    float: left;
    height: 24px;
    width: 40px;
    line-height: 24px;
    padding: 5px 10px;
    margin:0 5px 5px 0;
    border: 1px solid rgb(51,51,51);
    cursor: pointer;
    background-color: #fff;
    text-align: center;
}


.bind-item .comm-text, .comm-item .comm-text {
    color: #333
}
.card-item {
    width: 242px;
    padding-left: 30px;
    text-align: left
}
.card-item .card-btn {
    display: none
}
.case-box-hover, .case-box-selected, .case-item-selected {
    border: 2px solid #e4393c;
    padding: 4px 9px 4px 29px
}
.case-box-hover b, .case-box-selected b, .case-item-selected b {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/purchase/2.0.0/css/i/selected-icon.png) no-repeat
}
.case-box-hover .card-btn, .case-box-selected .card-btn, .case-item-selected .card-btn {
    display: block
}
.case-box-hover i, .case-box-selected i, .case-item-selected i {
    top: 8px;
    left: 9px
}
.case-box-hover .delete-btn, .case-box-selected .delete-btn, .case-item-selected .delete-btn {
    display: none
}
.case-box-disable, .case-item-disable {
    list-style: none;
    border: 1px solid #ddd;
    color: #ccc;
    cursor: default;
}
.case-box-disable .comm-text, .case-item-disable .comm-text {
    color: #ccc
}
.bind-item, .comm-item {
    padding: 5px 10px;
    width: 150px;
    margin-bottom: 5px
}
.bind-item b, .comm-item b {
    display: none
}
.case-item-selected {
    padding: 4px 9px
}
.case-box-hover .delete-btn, .case-item-selected b {
    display: block
}
.more-item {
    width: 264px;
    text-align: center
}
.more-item .c-text {
    color: #333;
    padding-right: 8px
}
.more-item s {
    display: inline-block;
    width: 11px;
    height: 6px;
    background-position: -401px -27px;
    overflow: hidden
}
.more-item-off s {
    background-position: -401px -33px
}
.add-card-btn {
    border: dotted 1px #ddd;
    width: 264px;
    color: #333
}
.add-card-btn em {
    padding-right: 8px;
    font: 16px/24px arial
}
.write-box {
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px
}
.write-box dl {
    display: inline-block;
    display: block
}
.write-box dl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
* html .write-box dl {
    height: 1%
}
*+html .write-box dl {
    min-height: 1%
}
.write-box dl dt {
    float: left;
    padding-right: 12px;
    width: 72px;
    text-align: right;
    line-height: 36px
}
.write-box dl dd {
    float: left;
    width: 484px;
    color: #999
}
.c-r-info {
    display: block;
    margin-top: 8px
}
.c-r-info:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
* html .c-r-info {
    height: 1%
}
*+html .c-r-info {
    min-height: 1%
}
.c-r-info .c-r-info-txt, .c-r-info .what-box {
    float: left;
    width: auto;
    position: relative;
}
.check-read {
    padding: 20px 0 0 92px;
    line-height: 34px
}
.check-read .check-m {
    margin-bottom: 10px;
    padding-left: 4px;
    color: #333
}
.check-read .m-sum {
    position: relative;
    bottom: -2px;
    font-size: 20px;
    font-weight: 700
}

.rank-select {
    position: absolute;
    left: 0;
    top: 0;
    height: 36px;
    width: 85px;
    z-index: 5;
}
.rank-select .default-info {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 10px;
    border: solid 1px #333;
    border-bottom: solid 1px #333;
    width: 80px;
    height: 32px;
    line-height: 33px;
}
.rank-select .default-info i {
    position: absolute;
    right: 6px;
    top: 13px;
    border-color: transparent transparent #333;
    border-style: solid;
    border-width: 0 5px 5px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    _border-left-color: #fff;
    _border-right-color: #fff;
    _filter: chroma(color=white);
}

.rank-select .hover {
    background: #fff
}
.rank-select .hover .default-info {
    display: block;
    border: solid 1px #333;
    border-bottom: none;
    background: #fff;
    cursor: default;
}
.rank-select .hover .default-info .item {
    background: #f3f3f3
}
.rank-select .hover .default-info i {
    border-color: #333 transparent transparent;
    border-width: 5px 5px 0;
    _border-left-color: #fff;
    _border-right-color: #fff;
    _filter: chroma(color=white)
}
.rank-select .select-info {
    display: none;
    position: absolute;
    left: 0;
    top: 34px;
    width: 100px;
    border: solid 1px #333;
    background: #fff;
    overflow: hidden;
    z-index: 5;
}
.rank-select .select-info .item {
    margin-bottom: 1px;
    padding-left: 14px;
    width: 80px;
    height: 26px;
    line-height: 26px
}
.rank-select .select-info a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #333
}
.rank-select .select-info a:hover {
    color: #fe7758
}
.rank-select .hover .select-info {
    display: block;
}


.rank-select-cover {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 38px;
    width: 108px;
    background-color: #fff;
    opacity: .5;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)\9;
    z-index: 10;
}

/* channel-sc-oilrecharge/1.0.0 header.css Date:2016-01-24 13:56:10 */
#search-2014 .button {
    background: #b61d1d
}
#categorys-2014 {
    width: 200px
}

#search-2014 .text {
    height: auto;
    border-color: #b61d1d
}
#nav-2014 {
    border-bottom-color: #b1191a
}
#categorys-2014 .dt {
    text-align: center
}
#nav-2013 {
    margin-bottom: 0
}

/* channel-sc-oilrecharge/1.0.0 write-card.css Date:2016-01-24 13:56:10 */
.rc-btn, .rc-btn-off {
    display: inline-block;
    width: 158px;
    border: solid 1px #f66;
    height: 38px;
    background: #f66;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: #fff;
    font: 16px/38px "microsoft yahei";
    text-align: center
}
.rc-btn span, .rc-btn-off span {
    padding-left: 5px
}
.rc-btn i, .rc-btn-off i {
    display: inline-block;
    margin-bottom: -2px;
    width: 15px;
    height: 15px;
    background-position: -376px 0;
    overflow: hidden
}
.rc-btn-off {
    position: relative;
    width: 158px;
    height: 38px;
    background: #f9f8f8;
    border: solid 1px #f66
}

.c-num-list {
    max-height: 46px;
    overflow: hidden;
}

.show-more{
    max-height: 136px;
    overflow-y: scroll;
}

.c-num-list li {
    margin-bottom: 10px
}
.check-read {
    padding: 20px 0 0 92px;
    line-height: 34px
}
.check-read .check-m {
    margin-bottom: 10px;
    padding-left: 4px;
    color: #333
}
.check-read .m-sum {
    position: relative;
    bottom: -2px;
    font-size: 20px;
    font-weight: 700
}
#bind-card .comm-text {
    color: #005ea7;
    padding: 5px 16px
}
.vpaytips {
    margin-top: 10px
}
.ui-dialog-title span {
    font: 700 14px/31px simsun;
    color: #333
}
.add-card-box {
    margin: 30px
}
.add-card-box .box-list {
    display: block;
    margin-bottom: 20px
}
.add-card-box .box-list:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
* html .add-card-box .box-list {
    height: 1%
}
*+html .add-card-box .box-list {
    min-height: 1%
}
.add-card-box .box-list dt {
    float: left;
    padding-left: 10px;
    width: 64px;
    height: 35px;
    font: 12px/35px simusn;
    color: #999;
    text-align: right
}
.add-card-box .box-list dd {
    position: relative;
    float: left;
    width: auto
}
.btn-box {
    margin-top: 30px
}
.btn-box .o-false-btn {
    margin-left: 8px
}
.l-space {
    margin-left: 74px
}
.warning-text {
    padding-left: 10px;
    color: #e4393c;
    display: none;
}
.warning-text i {
    position: relative;
    top: 3px;
    margin-right: 5px
}
.warning-info h3 {
    margin-top: 68px;
    font: 700 18px/36px "microsoft yahei";
    text-align: center;
    color: #e4393c
}
.warning-info h3 span {
    padding-left: 16px
}
.warning-info .warning-icon {
    position: relative;
    top: 12px
}
#succ-inner h3 span {
    color: #7abd54
}
#succ-inner .icon-succ02 {
    position: relative;
    top: 17px
}
#read-inner {
    margin-right: 0
}
#read-inner p {
    height: 270px;
    overflow-y: auto;
    padding-right: 30px
}
#repeat-inner h3 {
    color: #f60
}