@charset "utf-8";
@import "css3Mixin.scss";

/*base*/
.h10{
    height: 10px;
    overflow: hidden;
}
/*color*/
.link-color{
    color: $linkColor;
}
.mainred{
    color: #e4393c;
}
/*input*/
.c-input01{
    height: 24px;
    font:12px/24px arial;
    border:solid 1px #ddd;
    padding: 6px 10px;
}
.check-input{
    position: relative;
    bottom: -3px;
}
.input-usable{
    height: 25px;
    width: 248px;
    padding:4px 10px;
    border:solid 1px #333;
    color: #333;
}
.input-disable{
    height: 25px;
    width: 248px;
    padding:4px 10px;
    border:solid 1px #ccc;
}
.input-warning{
    height: 25px;
    padding:4px 10px;
    border:solid 1px #e4393c;
}
/*background-image*/
.fs-recharge .fsr-inner,.rc-btn i,.oc-slogan dt i,.tips-icon,.use-list dd .circle-icon,.use-list dd .use-icon,.tips-box .close-btn,.case-box i,.more-item s,.more-item-off s,.look-order,.goon-buy,.w-icon,.once-btn-disabled,.close-btn02,.o-sure-btn,.o-false-btn,.warning-icon,.failure-icon{
    background:url(i/oilrecharge-bg.png) no-repeat;
}
.ic-btn{
    background-image: url(//misc.360buyimg.com/virtuals/recharge/2014/skin/i/recharge-search.png);
    background-repeat: no-repeat
}
.icon-succ02{
    background-image: url(//misc.360buyimg.com/user/purchase/2.0.0/widget/trade-success/i/icon48.png);
    display: inline-block;
    *zoom:1;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    width: 48px;
    height: 48px
}
.w-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -420px -27px;
}
.warning-icon{
    display: inline-block;
    width: 48px;
    height: 42px;
    background-position: -451px -51px; 
}
.failure-icon{
    position: relative;
    top: 9px;
    display: inline-block;
    width: 34px;
    height: 34px;
    background-position: -460px -211px;  
}
.once-btn,.once-btn-disabled{
    display: inline-block;
    width: 99px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 6px 0 7px;
    background-position: -28px 0;
    margin-right: 15px
}
.once-btn-disabled{
    /*display: inline-block;
    background-image: none;
    border:solid 1px #ddd;
    color: #ccc;
    background-color: #fff;
    height: 19px;
    width: 138px;
    text-align: center;*/
    background-position: -363px -125px;
    font:14px/19px 'simsun';
    color: #ccc;
    background-color: #aaa;
}
.close-btn02{
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 17px;
    height: 17px;
    background-position: -441px -26px;
}
.o-sure-btn,.o-false-btn{
    @include inline-block;
    width: 59px;
    height:36px;
    font:700 14px/36px 'simsun';
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.o-sure-btn{
    background-position: -364px -164px;
    border: 0;
    &:hover{
        color:#fff;
    }
}
.o-false-btn{
    color: #333;
    background-position: -431px -164px;
}
.btn-box{
    text-align: center;
}
.fs-recharge{
    position: relative;
    z-index: 2;
    height: 0;
    .fsr-inner{
        position: absolute;
        right: 0;
        top: 58px;
        width: 258px;
        height: 114px;
        padding: 176px 0 0 95px;
        .rc-btn:hover{
            background:#333;
            color: #fff;
            border-color:#333;
        }
    }
}
/**/
.look-order,.goon-buy{
    display: inline-block;
    height: 30px;
    width: 89px;
    text-align: center;
    font:16px/30px 'microsoft yahei';
}
.look-order{
    color: #fff;
    background-position: -363px -51px;
    &:hover{
        color:#fff;
    }
}
.goon-buy{
    background-position: -363px -86px;
    color: #333;
    &:hover{
        color:#333;
    }
}
.btn-box .goon-buy{
    margin-left: 20px;
}
/*riangle*/
i.triangle,i.triangle-inner{
    position: absolute;
    right: 30px;
    top: -9px;
    z-index: 2;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-color: transparent transparent #bbb transparent;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    _border-left-color: #fff;
    _border-right-color: #fff;
    _filter: chroma(color=white);
}
i.triangle{
    border-width: 0 10px 10px 10px;
}
i.triangle-inner{
    right:32px;
    top: -7px;
    border-color: transparent transparent #fff transparent;
    border-width: 0 8px 8px 8px;
    _border-left-color: #fff;
    _border-right-color: #fff;
    _filter: chroma(color=white);
}
/*oc-slogan*/
.oc-slogan{
    padding-top: 10px;
    @include clearfix;
    dl{
        float: left;
        width: 33%;
    }
    dt{
        position: relative;
        margin-left: 50%;
        margin-bottom: 20px;
        left:-59px;
        width: 118px;
        height: 118px;
        border:solid 1px #ff6666;
        @include r-corners (50%);
        //@include transform(all 2 linear);
        @include transition(all .2s linear);
        i{
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            width: 66px;
            height: 66px;
            margin-left:-31px;
            margin-top: -31px;
        }
    }
    dd{
        paddind: 0 55px;
        text-align: center;
        .lh{
            font: 18px/28px 'microsoft yahei';
            height: 28px;
            color: $mainHighLight;
            overflow: hidden;
        }
        .p-txt{
            height: 22px;
            font:14px/22px 'microsoft yahei';
            color: #999;
            overflow: hidden;
        }
    }
    .hover dt{
        @include box-shadow($x: 0, $y: 0, $blur: 0, $spread: 10px, $alpha: 0.04);
    }
    .fore1{
        i{
            background-position: 0 -304px;
        }
    }
    .fore2{
        i{
            background-position: -75px -304px;
        }
    }
    .fore3{
        i{
            background-position: -149px -304px;
        }
    }
}
/*common*/
.c-layout{
    .mt{
        margin: 35px 0;
        color: #333;
        text-align: center;
        h3{
            height: 60px;
            font:700 24px/60px 'microsoft yahei';
            span{
                color: #ff6666;
                padding-bottom: 3px;
                border-bottom: solid 2px #ff6666;
            }
        }
    }
}
/*r-process*/
.r-process{
    margin-top: 45px;
    background: #f8f7f7 url(i/rc-p04.jpg) no-repeat;
    .w{
        height: 490px;
        background: url(i/line.png)center center no-repeat;
        _background: url(i/line.gif)center center no-repeat;
    }
    .c-layout{
        @clearfix;
        overflow: visible;
    }
    .mc{
        @clearfix;
        overflow: visible;
        dl{
            float: left;
            width: 30%;
            text-align: center;
            &.fore1{
                width: 40%;
            }
        }
        dd{
            position: relative;
            img{
                @include transition(all .2s linear);
            }
            i{
                position: absolute;
                left: 0;
                top:0;
                display: block;
                border:solid 1px #fff;
                width: 68px;
                height: 68px;
                left: 50%;
                margin-left: -35px;
                top:50%;
                margin-top: -35px;
                background: none;
                @include r-corners (50%);
                text-align: center;
                font:14px/70px 'microsoft yahei';
                color: #fff;
            }
        }
        .hover dd{
            img{
                @include alpha($o:70);
            }
            i{
                border:solid 1px #ff6666;
                background: $mainHighLight;
            }
        }
        dt{
            height: 54px;
            font:16px/54px 'microsoft yahei';
        }
        .what-box{
            position: relative;
            clear: both;
            text-align:center;
            color: #999;
        }
        .tips-box{
            left: 525px;
        }
    }
}
.tips-icon{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 5px -3px 0;
    background-position: -401px 0;
}
/*o-use*/
.o-use{
  height: 330px;
  background: #fff;
  .c-layout{
    @include clearfix;
    overflow: visible;
  }
  .mc{
    @include clearfix;
    overflow: visible;
  } 
  .what-box{
    color: #999;
    font-size: 12px;
    position: relative;
  }
}
.use-list{
    float: left;
    width: 50%;
    _width:49%;
    dt{
        padding-left: 200px;
        margin-top:24px;
        font:24px/30px 'microsoft yahei';
        color: #ff6666;
    }
    dd{
        position: relative;
        padding-left: 200px;
        font:14px/24px 'microsoft yahei';
        .use-info{
            position: absolute;
            display: block;
            left: 85px;
            top: -35px;
            width: 65px;
            height: 65px;
        }
        .circle-icon{
            display: block;
            width: 100%;
            height: 100%;
            background-position: -224px -305px;
        }
        .use-icon{
            display: block;
            width: 100%;
            height: 100%;
            background-position: -299px -304px;
        }
    }
    .website-map{
        color: $linkColor;
    }
}
/*tips-box*/
.tips-box{
    display: none;
    position: absolute;
    z-index: 2;
    left: -30px;
    top: 30px;
    width: 240px;
    padding: 12px 16px;
    border:solid 1px #ddd;
    background: #fff;
    i.triangle{
        top: -10px;
        left:30px;
        right: auto;
        border-color: transparent transparent #ddd transparent;
        _border-left-color: #fff;
        _border-right-color: #fff;
        _filter: chroma(color=white);
    }
    i.triangle-inner{
        left:32px;
        right: auto;
        top:-8px;
    }
    .close-btn{
        position: absolute;
        z-index: 3;
        display: block;
        width: 7px;
        height: 7px;
        right: 6px;
        top: 6px;
        background-position: -493px -32px;
        span{
            display: block;
            text-indent: -9999px;
        }
    }
    p{
        font:12px/18px 'microsoft yahei';
    }
}

/*page*/
.page {
    padding:15px 0 30px;
}

.page .p-wrap {
    float: right
}

.page .p-num {
    float: left
}

.page .p-num a,.page .p-num b {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    margin-right: 5px;
    font-size: 14px
}

.page .p-num a {
    color: #333;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: -o-linear-gradient(top,#f7f7f7,#f2f2f2);
    background-image: linear-gradient(top,#f7f7f7,#f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0)
    &.pn-next{
        margin-right:0;
    }
}

.page .p-num a:hover {
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,1,1,.08)
}

.page .p-num a.curr {
    border: 0 none;
    padding: 1px 15px;
    background: 0 0;
    filter: none;
    color: #e4393c;
    cursor: default
}

.page .p-num a.curr:hover {
    box-shadow: none
}

.page .p-num .pn-break {
    color: #ccc
}

.page .p-num .pn-break:hover {
    box-shadow: none
}

.page .p-num .pn-next em,.page .p-num .pn-prev em {
    vertical-align: middle
}

.page .p-num .pn-next i,.page .p-num .pn-prev i {
    vertical-align: middle;
    font-style: normal;
    font-size: 16px;
    font-family: "\5b8b\4f53";
    padding: 0 5px;
    color: #aaa
}

.page .p-num .pn-prev i {
    padding-left: 0
}

.page .p-num .pn-next i {
    padding-right: 0
}

.page .p-num .pn-next.disabled,.page .p-num .pn-prev.disabled {
    background: 0 0;
    background: #fff;
    cursor: default
}

.page .p-num .pn-next.disabled em,.page .p-num .pn-next.disabled i,.page .p-num .pn-prev.disabled em,.page .p-num .pn-prev.disabled i {
    color: #ccc
}

.page .p-skip {
    float: left;
    margin-left: 20px
}

.page .p-skip em {
    float: left;
    line-height: 38px;
    font-size: 14px
}

.page .p-skip .input-txt {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    line-height: 30px;
    font-size: 14px;
    text-align: center
}
.page .p-skip .btn {
    float: left;
    height: 27px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 27px
}
/*crumbs*/
.crumbs{
    height: 54px;
    font:14px/54px 'microsoft yahei'; 
    overflow: hidden;
    i{
        font-family: 'simsun';
        font-weight: 700;
        color: #999;
    }
}

.c-num-list {
    max-height: 46px;
    overflow: hidden;
}

.show-more{
    max-height: 136px;
    overflow-y: scroll;
}

/*card-box*/
.card-box{
    margin-bottom: 20px;
    border:solid 1px #ddd;
    padding: 50px 360px 70px 270px;
    .item{
        margin-bottom: 10px;
    }
}
/**/

.case-box {
    display: inline-block;
    list-style: none;
    position: relative;
    border: 1px solid #ddd;
    height: 24px;
    line-height: 24px;
    padding: 5px 10px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    i{
        display: block;
        position: absolute;
        left: 10px;
        top: 9px;
        width: 16px;
        height: 16px;
        background-position: -374px -32px;
    }
    .u-name{
        color: #333;
        padding-right: 5px;
    }
    .p-number{
        color: #999;
    }
    .card-btn{
        display: block;
        position: absolute;
        right:50px;
        top: 5px; 
        width: 24px;
        height: 24px;
        cursor: pointer;
        color: #005ea7;
        overflow: hidden;
    }
    .delete-btn{
        right: 10px;
    }
}
.comm-item{
    .comm-text{
        color: #333;
    }
}
.card-item{
    width: 242px;
    padding-left:30px;
    text-align: left;
    .card-btn{
        display: none;
    }
}
.case-box-selected{
    border: 2px solid #e4393c;
    padding:4px 9px 4px 29px;
    b{
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 12px;
        height: 12px;
        overflow: hidden;
        background: url(//misc.360buyimg.com/user/purchase/2.0.0/css/i/selected-icon.png) no-repeat
    }
    .card-btn{
        display: block;
    }
    i{
        top: 8px;
        left: 9px;
    }
    .delete-btn{
        display: none;
    }
}
.case-box-disable {
    list-style: none;
    border: 1px solid #ddd;
    width: auto;
    text-align: center;
    color: #ccc;
    cursor: default;
    .comm-text{
        color: #ccc;
    }
}
.comm-item{
    padding:5px 10px 5px 10px;
    width: auto;
    margin-bottom: 5px;
    b{
        display: none;
    }
}
.case-item-selected{
    @extend .case-box-selected;
    padding:4px 9px 4px 9px;
    b{
        display: block;
    }
}
.case-item-disable{
    @extend .case-box-disable;
}
.case-box-hover{
    @extend .case-box-selected;
    .delete-btn{
        display: block;
    }
}
.bind-item{
    @extend .comm-item;
}
.more-item{
    width: 264px;
    text-align: center;
    .c-text{
        color: #333;
        padding-right: 8px;
    }
    s{
        display: inline-block;
        width: 11px;
        height: 6px;
        background-position: -401px -27px;
        overflow: hidden;
    }
}
.more-item-off s{
   background-position: -401px -33px; 
}
.add-card-btn{
    border: dotted 1px #ddd;
    width: 264px;
    color: #333;
    em{
        padding-right: 8px;
        font:16px/24px 'arial';
    }
}
.write-box{
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    dl{
        @include clearfix;
        dt{
            float: left;
            padding-right: 12px;
            width: 72px;
            text-align: right;
            line-height: 36px;
        }
        dd{
            float: left;
            width: 484px;
            color: #999;
        }
    }
}
.c-r-info{
    @include clearfix;
    margin-top: 8px;
    .c-r-info-txt{
        float: left;
        width: auto;
    }
    .what-box{
        float: left;
        width: auto;
        position: relative;
    }
}

.check-read{
    padding:20px 0 0 92px;
    line-height: 34px;
    .read{

    }
    .check-m{
        margin-bottom: 10px;
        padding-left: 4px;
        color: #333;
    }
    .m-sum{
        position: relative;
        bottom:-2px;
        font-size:20px;
        font-weight: bold;
    }
}
/**/
.rank-select{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    height: 36px;
    width: 85px;
    .selecte-box{
        //border-bottom: solid 1px #333;
    }
    .default-info{
        position: absolute;
        left:0;
        top: 0;
        padding:0 10px;
        border:solid 1px #333;
        border-bottom:solid 1px #333;
        width: 80px;
        height: 33px;
        line-height: 33px;
        color: #333;
        i{
            position: absolute;
            right: 6px;
            top: 13px;
            border-color: transparent transparent #333 transparent;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            width: 0;
            height: 0;
            font-size: 0;
            line-height: 0;
            _border-left-color: #fff;
            _border-right-color: #fff;
            _filter: chroma(color=white);
            z-index: 2;
        }
    }
    .select-info{
        display: none;
        border-bottom: solid 1px #333;
        .item{
            margin-bottom: 1px;
            height:35px;
            line-height: 35px;
            a{
                display: block;
                padding-left: 14px;
                height: 100%;
            }
        }
    }
    .hover{
        background: #fff;
        .default-info{
            display: block;
            border:solid 1px #333;
            border-bottom: none;
            background:#fff;
            /*box-shadow:0 0 8px 8px #eeeeef;
            -moz-box-shadow:0 0 8px 8px #eeeeef;
            -webkit-box-shadow:0 0 8px 8px #eeeeef;*/
            cursor: default;
            .item{
                background:#f3f3f3;
            }
            i{
                border-color: #333 transparent transparent transparent;
                border-width: 5px 5px 0 5px;
                _border-left-color: #fff;
                _border-right-color: #fff;
                _filter: chroma(color=white);
            }
        }
        .select-info{
            display: block;
            position: absolute;
            left: 0;
            top: 34px;
            width: 83px;
            border:solid 1px #333;
            background: #fff;
            overflow: hidden;
            a{
                cursor: pointer;
                color: #333;
                &:hover{
                    background: #f3f3f3;
                    color:#333;
                }
            }
            /*.curr{
                a{
                    color:$colorLightHigh;
                }
            }*/
        }
    }
    
}